@media screen and (max-width: 499px) and (min-width: 0px) {
    /* .container{
        padding-right: 0 !important;
    } */
    .top-brands{
        padding: 5em 0em 5em 0em !important;
    }
    .top-brands .brand-product{
        margin-top: 20px !important;
        margin-left: 0px !important;
    }
    .brand-product .card{
        width: 100% !important;
        border: none !important;
        box-shadow: 0px 0px 5px 0px !important;
    }
    .brand-product .card-body{
        padding: 0px !important;
        margin-top: 10px;
    }
    .brand-product .card-body .card-title{
        font-size: 14px;
        color: #007185;
        margin-bottom: 0.25rem !important;
    }
    .slide-left{
        position: relative !important   ;
    }
    .slide-left button{
        margin-top: 178px;
        border-radius: 5px;
        background: 0 0;
        border-block-end-color: red;
        border-block-start-color: goldenrod;
        position: absolute;
        margin-left: 20px;
        z-index: 1;
    }
    .trending-row{
        position: relative;
    }
    .slide-right{
        position: absolute;
        margin-top: 178px;
        text-align-last: end;
    }
    .slide-right button{
        border-radius: 5px;
        background: 0 0;
        border-block-end-color: red;
        border-block-start-color: goldenrod;
    }
    .card-inside-div{
        padding: 10px;
    }
}
@media screen and (max-width: 574px) and (min-width: 500px) {
    .top-brands{
        padding: 5em 0em 5em 0em !important;
    }
    .top-brands .title hr{
        width: 150px;
        text-align: center;
        margin-top: 4px;
        margin-right: auto;
        margin-bottom: 0px;
        margin-left: auto;
        background-color: #FA1818;
    }
    .top-brands .brand-product{
        margin-top: 20px;
        padding-right: 0px !important;
        padding-left: 25px !important;
    }
    .brand-product .card{
        width: 160px !important;
        padding: 0 !important;
        border: none !important;
    }
    .brand-product .card-body{
        padding: 0px !important;
        margin-top: 10px;
    }
    .brand-product .card-body .card-title{
        font-size: 14px;
        color: #007185;
        margin-bottom: 0.25rem !important;
    }
    .col-lg-2{
        flex: 0 0 14.666667% !important;
    }
    .slide-left{
        width: 20px;
        margin-left: 10px;
    }
    .slide-left button{
        margin-top: 130px;
        border-radius: 5px;
        background: 0 0;
        border-block-end-color: red;
        border-block-start-color: goldenrod;
    }
    .slide-right{
        width: 54px;
        margin-left: 10px;
    }
    .slide-right button{
        margin-top: 130px;
        border-radius: 5px;
        background: 0 0;
        border-block-end-color: red;
        border-block-start-color: goldenrod;
    }
}
@media screen and (max-width: 599px) and (min-width: 575px) {
    .top-brands{
        padding: 5em 0em 5em 0em !important;
    }
    .top-brands .title hr{
        width: 150px;
        text-align: center;
        margin-top: 4px;
        margin-right: auto;
        margin-bottom: 0px;
        margin-left: auto;
        background-color: #FA1818;
    }
    .top-brands .brand-product{
        margin-top: 20px;
        padding-right: 0px !important;
        padding-left: 25px !important;
    }
    .brand-product .card{
        width: 160px !important;
        padding: 0 !important;
        border: none !important;
    }
    .brand-product .card-body{
        padding: 0px !important;
        margin-top: 10px;
    }
    .brand-product .card-body .card-title{
        font-size: 14px;
        color: #007185;
        margin-bottom: 0.25rem !important;
    }
    .col-lg-2{
        flex: 0 0 14.666667% !important;
    }
    .slide-left{
        width: 60px;
        margin-left: 10px
    }
    .slide-left button{
        margin-top: 130px;
        border-radius: 5px;
        background: 0 0;
        border-block-end-color: red;
        border-block-start-color: goldenrod;
    }
    .slide-right{
        width: 54px;
        margin-left: 28px;
    }
    .slide-right button{
        margin-top: 130px;
        border-radius: 5px;
        background: 0 0;
        border-block-end-color: red;
        border-block-start-color: goldenrod;
    }
}
@media screen and (max-width: 699px) and (min-width: 600px) {
    .top-brands{
        padding: 5em 0em 5em 0em !important;
    }
    .top-brands .title hr{
        width: 150px;
        text-align: center;
        margin-top: 4px;
        margin-right: auto;
        margin-bottom: 0px;
        margin-left: auto;
        background-color: #FA1818;
    }
    .top-brands .brand-product{
        margin-top: 20px;
        padding-right: 0px !important;
        padding-left: 10px !important;
    }
    .brand-product .card{
        width: 160px !important;
        padding: 0 !important;
        border: none !important;
    }
    .brand-product .card-body{
        padding: 0px !important;
        margin-top: 10px;
    }
    .brand-product .card-body .card-title{
        font-size: 14px;
        color: #007185;
        margin-bottom: 0.25rem !important;
    }
    .col-lg-2{
        flex: 0 0 14.666667% !important;
    }
    .slide-left{
        width: 33px;
    }
    .slide-left button{
        margin-top: 130px;
        border-radius: 5px;
        background: 0 0;
        border-block-end-color: red;
        border-block-start-color: goldenrod;
    }
    .slide-right{
        width: 54px;
        margin-left: 3px;
    }
    .slide-right button{
        margin-top: 130px;
        border-radius: 5px;
        background: 0 0;
        border-block-end-color: red;
        border-block-start-color: goldenrod;
    }
}
@media screen and (max-width: 765px) and (min-width: 700px) {
    .top-brands{
        padding: 5em 0em 5em 0em !important;
    }
    .top-brands .title hr{
        width: 150px;
        text-align: center;
        margin-top: 4px;
        margin-right: auto;
        margin-bottom: 0px;
        margin-left: auto;
        background-color: #FA1818;
    }
    .top-brands .brand-product{
        margin-top: 20px;
        padding-right: 0px !important;
        padding-left: 21px !important;
    }
    .brand-product .card{
        width: 160px !important;
        padding: 0 !important;
        border: none !important;
    }
    .brand-product .card-body{
        padding: 0px !important;
        margin-top: 10px;
    }
    .brand-product .card-body .card-title{
        font-size: 14px;
        color: #007185;
        margin-bottom: 0.25rem !important;
    }
    .col-lg-2{
        flex: 0 0 14.666667% !important;
    }
    .slide-left{
        width: 70px;
    }
    .slide-left button{
        margin-top: 130px;
        border-radius: 5px;
        background: 0 0;
        border-block-end-color: red;
        border-block-start-color: goldenrod;
    }
    .slide-right{
        width: 70px;
        margin-left: 15px;
    }
    .slide-right button{
        margin-top: 130px;
        border-radius: 5px;
        background: 0 0;
        border-block-end-color: red;
        border-block-start-color: goldenrod;
    }
}
@media screen and (max-width: 799px) and (min-width: 768px) {
    .top-brands{
        padding: 5em 0em 5em 0em !important;
    }
    .top-brands .title hr{
        width: 150px;
        text-align: center;
        margin-top: 4px;
        margin-right: auto;
        margin-bottom: 0px;
        margin-left: auto;
        background-color: #FA1818;
    }
    .top-brands .brand-product{
        margin-top: 20px;
        padding-right: 0px !important;
        padding-left: 9px !important;
    }
    .brand-product .card{
        width: 160px !important;
        padding: 0 !important;
        border: none !important;
    }
    .brand-product .card-body{
        padding: 0px !important;
        margin-top: 10px;
    }
    .brand-product .card-body .card-title{
        font-size: 14px;
        color: #007185;
        margin-bottom: 0.25rem !important;
    }
    .col-lg-2{
        flex: 0 0 14.666667% !important;
    }
    .slide-left{
        width: 40px;
    }
    .slide-left button{
        margin-top: 130px;
        border-radius: 5px;
        background: 0 0;
        border-block-end-color: red;
        border-block-start-color: goldenrod;
    }
    .slide-right{
        width: 50px;
    }
    .slide-right button{
        margin-top: 130px;
        border-radius: 5px;
        background: 0 0;
        border-block-end-color: red;
        border-block-start-color: goldenrod;
    }
}
@media screen and (max-width: 899px) and (min-width: 800px) {
    .top-brands{
        padding: 5em 0em 5em 0em !important;
    }
    .top-brands .title hr{
        width: 150px;
        text-align: center;
        margin-top: 4px;
        margin-right: auto;
        margin-bottom: 0px;
        margin-left: auto;
        background-color: #FA1818;
    }
    .top-brands .brand-product{
        margin-top: 20px;
        padding-right: 0px !important;
    }
    .brand-product .card{
        width: 160px !important;
        padding: 0 !important;
        border: none !important;
    }
    .brand-product .card-body{
        padding: 0px !important;
        margin-top: 10px;
    }
    .brand-product .card-body .card-title{
        font-size: 14px;
        color: #007185;
        margin-bottom: 0.25rem !important;
    }
    .col-lg-2{
        flex: 0 0 14.666667% !important;
    }
    .slide-left{
        width: 50px;
    }
    .slide-left button{
        margin-top: 130px;
        border-radius: 5px;
        background: 0 0;
        border-block-end-color: red;
        border-block-start-color: goldenrod;
    }
    .slide-right{
        width: 50px;
    }
    .slide-right button{
        margin-top: 130px;
        border-radius: 5px;
        background: 0 0;
        border-block-end-color: red;
        border-block-start-color: goldenrod;
    }
}
@media screen and (max-width: 991px) and (min-width: 900px) {
    .top-brands{
        padding: 5em 0em 5em 0em !important;
    }
    .top-brands .title hr{
        width: 150px;
        text-align: center;
        margin-top: 4px;
        margin-right: auto;
        margin-bottom: 0px;
        margin-left: auto;
        background-color: #FA1818;
    }
    .top-brands .brand-product{
        margin-top: 20px;
        padding-right: 0px !important;
        margin-left: 15px;
    }
    .brand-product .card{
        width: 160px !important;
        padding: 0 !important;
        border: none !important;
    }
    .brand-product .card-body{
        padding: 0px !important;
        margin-top: 10px;
    }
    .brand-product .card-body .card-title{
        font-size: 14px;
        color: #007185;
        margin-bottom: 0.25rem !important;
    }
    .col-lg-2{
        flex: 0 0 14.666667% !important;
    }
    .slide-left{
        width: 50px;
        margin-left: 5px;
    }
    .slide-left button{
        margin-top: 130px;
        border-radius: 5px;
        background: 0 0;
        border-block-end-color: red;
        border-block-start-color: goldenrod;
    }
    .slide-right{
        width: 50px;
    }
    .slide-right button{
        margin-top: 130px;
        border-radius: 5px;
        background: 0 0;
        border-block-end-color: red;
        border-block-start-color: goldenrod;
    }
}
@media screen and (max-width: 1010px) and (min-width: 992px) {
    .top-brands{
        padding: 5em 0em 5em 0em !important;
    }
    .top-brands .title hr{
        width: 150px;
        text-align: center;
        margin-top: 4px;
        margin-right: auto;
        margin-bottom: 0px;
        margin-left: auto;
        background-color: #FA1818;
    }
    .top-brands .brand-product{
        margin-top: 20px;
        padding-right: 0px !important;
        margin-left: 15px;
    }
    .brand-product .card{
        width: 160px !important;
        padding: 0 !important;
        border: none !important;
    }
    .brand-product .card-body{
        padding: 0px !important;
        margin-top: 10px;
    }
    .brand-product .card-body .card-title{
        font-size: 14px;
        color: #007185;
        margin-bottom: 0.25rem !important;
    }
    .col-lg-2{
        flex: 0 0 14.666667% !important;
    }
    .slide-left{
        width: 50px;
        margin-left: 5px;
    }
    .slide-left button{
        margin-top: 130px;
        border-radius: 5px;
        background: 0 0;
        border-block-end-color: red;
        border-block-start-color: goldenrod;
    }
    .slide-right{
        width: 50px;
    }
    .slide-right button{
        margin-top: 130px;
        border-radius: 5px;
        background: 0 0;
        border-block-end-color: red;
        border-block-start-color: goldenrod;
    }
}
@media screen and (max-width: 1030px) and (min-width: 1009px) {
    .top-brands{
        padding: 5em 0em 5em 0em !important;
    }
    .top-brands .title hr{
        width: 150px;
        text-align: center;
        margin-top: 4px;
        margin-right: auto;
        margin-bottom: 0px;
        margin-left: auto;
        background-color: #FA1818;
    }
    .top-brands .brand-product{
        margin-top: 20px;
        padding-right: 0px !important;
        margin-left: 20px;
    }
    .brand-product .card{
        width: 160px !important;
        padding: 0 !important;
        border: none !important;
    }
    .brand-product .card-body{
        padding: 0px !important;
        margin-top: 10px;
    }
    .brand-product .card-body .card-title{
        font-size: 14px;
        color: #007185;
        margin-bottom: 0.25rem !important;
    }
    .col-lg-2{
        flex: 0 0 14.666667% !important;
    }
    .slide-left{
        width: 50px;
        margin-left: 5px;
    }
    .slide-left button{
        margin-top: 130px;
        border-radius: 5px;
        background: 0 0;
        border-block-end-color: red;
        border-block-start-color: goldenrod;
    }
    .slide-right{
        width: 50px;
    }
    .slide-right button{
        margin-top: 130px;
        border-radius: 5px;
        background: 0 0;
        border-block-end-color: red;
        border-block-start-color: goldenrod;
    }
}
@media screen and (max-width: 1050px) and (min-width: 1031px) {
    .top-brands{
        padding: 5em 0em 5em 0em !important;
    }
    .top-brands .title hr{
        width: 150px;
        text-align: center;
        margin-top: 4px;
        margin-right: auto;
        margin-bottom: 0px;
        margin-left: auto;
        background-color: #FA1818;
    }
    .top-brands .brand-product{
        margin-top: 20px;
        padding-right: 0px !important;
        margin-left: 20px;
    }
    .brand-product .card{
        width: 160px !important;
        padding: 0 !important;
        border: none !important;
    }
    .brand-product .card-body{
        padding: 0px !important;
        margin-top: 10px;
    }
    .brand-product .card-body .card-title{
        font-size: 14px;
        color: #007185;
        margin-bottom: 0.25rem !important;
    }
    .col-lg-2{
        flex: 0 0 14.666667% !important;
    }
    .slide-left{
        width: 50px;
        margin-left: 5px;
    }
    .slide-left button{
        margin-top: 130px;
        border-radius: 5px;
        background: 0 0;
        border-block-end-color: red;
        border-block-start-color: goldenrod;
    }
    .slide-right{
        width: 50px;
    }
    .slide-right button{
        margin-top: 130px;
        border-radius: 5px;
        background: 0 0;
        border-block-end-color: red;
        border-block-start-color: goldenrod;
    }
}

@media screen and (max-width: 1070px) and (min-width: 1051px) {
    .top-brands{
        padding: 5em 0em 5em 0em !important;
    }
    .top-brands .title hr{
        width: 150px;
        text-align: center;
        margin-top: 4px;
        margin-right: auto;
        margin-bottom: 0px;
        margin-left: auto;
        background-color: #FA1818;
    }
    .top-brands .brand-product{
        margin-top: 20px;
        padding-right: 0px !important;
        margin-left: 25px;
    }
    .brand-product .card{
        width: 160px !important;
        padding: 0 !important;
        border: none !important;
    }
    .brand-product .card-body{
        padding: 0px !important;
        margin-top: 10px;
    }
    .brand-product .card-body .card-title{
        font-size: 14px;
        color: #007185;
        margin-bottom: 0.25rem !important;
    }
    .col-lg-2{
        flex: 0 0 14.666667% !important;
    }
    .slide-left{
        width: 50px;
        margin-left: 5px;
    }
    .slide-left button{
        margin-top: 130px;
        border-radius: 5px;
        background: 0 0;
        border-block-end-color: red;
        border-block-start-color: goldenrod;
    }
    .slide-right{
        width: 50px;
    }
    .slide-right button{
        margin-top: 130px;
        border-radius: 5px;
        background: 0 0;
        border-block-end-color: red;
        border-block-start-color: goldenrod;
    }
}

@media screen and (max-width: 1200px) and (min-width: 1071px) {
    .top-brands{
        padding: 5em 0em 5em 0em !important;
    }
    .top-brands .title hr{
        width: 150px;
        text-align: center;
        margin-top: 4px;
        margin-right: auto;
        margin-bottom: 0px;
        margin-left: auto;
        background-color: #FA1818;
    }
    .top-brands .brand-product{
        margin-top: 20px;
        padding-right: 0px !important;
    }
    .brand-product .card{
        width: 160px !important;
        padding: 0 !important;
        border: none !important;
    }
    .brand-product .card-body{
        padding: 0px !important;
        margin-top: 10px;
    }
    .brand-product .card-body .card-title{
        font-size: 14px;
        color: #007185;
        margin-bottom: 0.25rem !important;
    }
    .col-lg-2{
        flex: 0 0 14.666667% !important;
    }
    .slide-left{
        width: 50px;
        margin-left: 5px;
    }
    .slide-left button{
        margin-top: 130px;
        border-radius: 5px;
        background: 0 0;
        border-block-end-color: red;
        border-block-start-color: goldenrod;
    }
    .slide-right{
        width: 50px;
    }
    .slide-right button{
        margin-top: 130px;
        border-radius: 5px;
        background: 0 0;
        border-block-end-color: red;
        border-block-start-color: goldenrod;
    }
}


@media screen and (min-width: 1201px) {
    .top-brands{
        padding: 5em 0em 5em 0em !important;
    }
    .top-brands .title hr{
        width: 150px;
        text-align: center;
        margin-top: 4px;
        margin-right: auto;
        margin-bottom: 0px;
        margin-left: auto;
        background-color: #FA1818;
    }
    .top-brands .brand-product{
        margin-top: 20px;
        padding-right: 0px !important;
    }
    .brand-product .card{
        width: 160px !important;
        padding: 0 !important;
        border: none !important;
    }
    
    .brand-product .card-body{
        padding: 0px !important;
        margin-top: 10px;
    }
    .brand-product .card-body .card-title{
        font-size: 14px;
        color: #007185;
        margin-bottom: 0.25rem !important;
    }
    .col-lg-2{
        flex: 0 0 14.666667% !important;
    }
    .slide-left{
        width: 70px;
    }
    .slide-left button{
        margin-top: 130px;
        border-radius: 5px;
        background: 0 0;
        border-block-end-color: red;
        border-block-start-color: goldenrod;
    }
    .slide-right{
        width: 70px;
    }
    .slide-right button{
        margin-top: 130px;
        border-radius: 5px;
        background: 0 0;
        border-block-end-color: red;
        border-block-start-color: goldenrod;
    }

}
