@media screen and (max-width: 575px){
    .fourth_part .col-12{
        margin-top: 20px;
        width: 25%;
    }
    .fourth_part img{
        width: 100%;
    }
}
@media screen and (max-width: 767px) and (min-width: 576px) {
    .fourth_part .col-12{
        margin-top: 20px;
        width: 25%;
    }
    .fourth_part img{
        width: 100%;
    }
}
@media screen and (max-width: 991px) and (min-width: 768px) {
    .fourth_part .col-12{
        margin-top: 20px;
        width: 25%;
    }
    .fourth_part img{
        width: 100%;
    }
}
@media screen and (max-width: 1199px) and (min-width: 992px) {
    .fourth_part .col-12{
        margin-top: 20px;
        width: 25%;
    }
    .fourth_part img{
        width: 100%;
    }
}
@media screen and (min-width: 1200px){
    .fourth_part .col-12{
        margin-top: 20px;
        width: 25%;
    }
    .fourth_part img{
        width: 100%;
        height: 250px;
    }
    .fourth_part h5{
        color: #007185;
        font-size: 16px;
        margin-top: 10px;
    }
}